:root {
  --primary-color: #167bff;
  --background-color: #f1f1f1;
  --font-size-small: 13px;
  --font-size-medium: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.Form {
  margin-top: 150px;
  background: #f1f1f14f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(28, 88, 147, 0.2) 0px 8px 24px;
}

.auth-form {
  background-color: #f5f4f4;
  padding: 100px 50px;
  margin: 100px 50px;
  border-radius: 5px;
  box-shadow: 0 48px 100px rgba(21, 3, 123, 0.15);
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

nav a:hover {
  color: #e0e0e0;
  text-decoration: none;
  margin-right: 20px;
}

#check {
  margin-left: 10px;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-form-title {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  font-size: var(--font-size-medium);
}

.auth-form-label {
  font-weight: 400;
}

.auth-form-control:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: var(--font-size-small);
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: var(--primary-color);
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

.image-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.login-page-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.LogPages img{
  width: 100%;
  margin-top: 40px;
}

.FormSmallText {
  display: flex;
  justify-content: space-between;
}

.validation {
  color: #e73333;
  font-size: 13px;
}

.AddCarForm {
  margin-top: 70px;
}

.AddForm {
  background: #f1f1f14f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(28, 88, 147, 0.2) 0px 8px 24px;
}

.AddCarForm ::placeholder {
  font-size: 14px;
}
 
.AddForm input{
  border: 1px solid #edecece7;
}

.AddForm label {
  margin: 10px 5px;
}

.AddCarForm img{
  width: 100%;
  margin-top: 80px;
}

.AddCarForm h3{
  font-weight: 700;
  margin-bottom: 20px;
}

.CarsPage {
  margin: 50px 0;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
