body {
  background-color: #e7e7e7;
}

.header {
  text-align: center;
  margin-top: 50px;
}

.IncomeExpenses {
  background-color: #ffffff;
  display: flex;
  gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.IncomeExpensesChild {
  margin: 0 auto;
}